**/Makefile.in
**/Makefile
**/.deps
**/*.a
**/*.o
**/.cache
**/.dirstamp
./printed_ast/*
config.log
config.status
autom4te.cache
aclocal.m4
ar-lib
compile
configure
configure~
depcomp
install-sh
Makefile.in
missing
src/42sh
src/astprev
tests/test
tests/output
tests/input
tests/error
tests/filename1
tests/filename2
valgrind.log
'$output'
